<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Itransfo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ITransfo Cotizaciones", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if(User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("admin"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Data management
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                                    <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                                    <li>@Html.ActionLink("Create Role", "Create", "Roles")</li>
                                    <li>@Html.ActionLink("Manage Users", "ManageUserRoles", "Roles")</li>
                                    <li>@Html.ActionLink("Pasos", "Index", "Steps")</li>
                                </ul>
                            </li>
                        }
                        if (User.IsInRole("authorized-user"))
                        {
                            <li id="indexLink">@Html.ActionLink("Clientes", "Index", "Clients")</li>
                            <li id="indexLink">@Html.ActionLink("Productos", "Index", "Products")</li>
                            <li id="indexLink">@Html.ActionLink("Órdenes", "Index", "Orders")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Itransfo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
