@model Cotizaciones.Models.Order

@{
    ViewBag.Title = string.Format("Orden {0}",Model.Identifier);
}

<div class="row">
    <div class="col-md-1" style="margin-top:20px;">
        @Html.ActionLink("Index", "Index", null, new { @class = "backButton" })
    </div>
    <div class="col-md-8">
        <h2>@string.Format("Orden {0}",Model.Identifier)</h2>
    </div>
    <div class="col-md-2" style="float:right; margin-bottom: 5px; margin-top:15px;">
        @if (User.IsInRole("admin") || User.IsInRole("management") || User.IsInRole("sales-admin"))
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.OrderId }, new { @class = "btn btn-primary" })
        }
        @if (User.IsInRole("admin") || User.IsInRole("management") || User.IsInRole("sales-admin"))
        {
            @Html.ActionLink("Borrar", "Delete", new { id = Model.OrderId }, new { @class = "btn btn-danger" })
        }
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-5">
        <h4>Detalles</h4>
        @Html.Partial("~/Views/Orders/DetailsPartial.cshtml", Model)
    </div>
    <div class="col-md-5">
        <h4>Productos</h4>
        @Html.Partial("~/Views/Orders/ProductsPartial.cshtml", Model)
    </div>
</div>

<div class="row">
    <hr />
    <h4>Historial de cambios</h4>
    <hr />
    @Html.Partial("~/Views/Orders/HistoryPartial.cshtml")
</div>
