@model Cotizaciones.Models.Product

@{
    ViewBag.Title = "Eliminar";
}
<div class="row">
    <div class="col-md-1" style="margin-top:20px;">
        @Html.ActionLink("Index", "Index", null, new { @class = "backButton" })
    </div>
    <div class="col-md-8">
        <h2>Eliminar @Model.Name</h2>
    </div>
</div>

<h3>¿Está seguro que desea eliminar a este producto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProviderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
