@model Cotizaciones.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProviderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
