@model Cotizaciones.Models.Product

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-md-1" style="margin-top:20px;">
        @Html.ActionLink("Index", "Index", null, new { @class = "backButton" })
    </div>
    <div class="col-md-8">
        <h2>@Model.Name</h2>
    </div>
    <div class="col-md-2" style="float:right; margin-bottom: 5px; margin-top:15px;">
        @if (User.IsInRole("admin") || User.IsInRole("management") || User.IsInRole("sales-admin") || User.IsInRole("operations-admin"))
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.ProductId }, new { @class = "btn btn-primary" })
        }
        @if (User.IsInRole("admin") || User.IsInRole("management") || User.IsInRole("sales-admin") || User.IsInRole("operations-admin"))
        {
            @Html.ActionLink("Borrar", "Delete", new { id = Model.ProviderId }, new { @class = "btn btn-danger" })
        }
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProviderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalData)
        </dd>

    </dl>
</div>
