@model IEnumerable<Cotizaciones.Models.Product>

@{
    ViewBag.Title = "Productos";
}

<div class="row">
    <div class="col-md-10">
        <h2>Productos</h2>
    </div>
    <div class="col-md-2" style="float:right; margin-bottom: 5px; margin-top:15px;">
        @if (User.IsInRole("admin") || User.IsInRole("management") || User.IsInRole("sales-admin") || User.IsInRole("operations-admin"))
        {
            @Html.ActionLink("Nuevo Producto", "Create", null, new { @class = "btn btn-success" })
        }
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @if (("nameDesc").Equals(ViewBag.SortOrder))
            {
                @Html.ActionLink("▼ Nombre", "Index", new { sortOrder = "nameAsc" })
            }
            else if (("nameAsc").Equals(ViewBag.SortOrder))
            {
                @Html.ActionLink("▲ Nombre", "Index", new { sortOrder = "nameDesc" })
            }
            else
            {
                @Html.ActionLink("Nombre", "Index", new { sortOrder = "nameAsc" })
            }
        </th>
        <th>
            @if (("providerDesc").Equals(ViewBag.SortOrder))
            {
                @Html.ActionLink("▼ Proveedor", "Index", new { sortOrder = "providerAsc" })
            }
            else if (("providerAsc").Equals(ViewBag.SortOrder))
            {
                @Html.ActionLink("▲ Proveedor", "Index", new { sortOrder = "providerDesc" })
            }
            else
            {
                @Html.ActionLink("Proveedor", "Index", new { sortOrder = "providerAsc" })
            }
        </th>
        <th>
            @if (("familyDesc").Equals(ViewBag.SortOrder))
            {
                @Html.ActionLink("▼ Familia de Producto", "Index", new { sortOrder = "familyAsc" })
            }
            else if (("familyAsc").Equals(ViewBag.SortOrder))
            {
                @Html.ActionLink("▲ Familia de Producto", "Index", new { sortOrder = "familyDesc" })
            }
            else
            {
                @Html.ActionLink("Familia de Producto", "Index", new { sortOrder = "familyAsc" })
            }
        </th>
        @if (User.IsInRole("admin") || User.IsInRole("management") || User.IsInRole("sales-admin") || User.IsInRole("operations-admin"))
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ProductId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductFamily)
        </td>
        @if (User.IsInRole("admin") || User.IsInRole("management") || User.IsInRole("sales-admin") || User.IsInRole("operations-admin"))
        {
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.ProductId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductId }, new { @style = "color:red;" })
            </td>
        }
    </tr>
}

</table>
